@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hypernova component="VueModule" data="@(new { name = "Luciano Lima" })"></hypernova>
<hypernova component="ReactModule" data="@(new { name = "Luciano Lima" })"></hypernova>
<hypernova component="AnotherVueModule" data="@(new { name = "Luciano Lima" })"></hypernova>
<hypernova component="VuexModule"></hypernova>

<hypernova-script component="VueModule"></hypernova-script>
<hypernova-script component="AnotherVueModule"></hypernova-script>
<hypernova-script component="ReactModule"></hypernova-script>
<hypernova-script component="VuexModule"></hypernova-script>